---
import { serializeDate } from '$core/services/serializeDate'

import type { CollectionEntry } from 'astro:content'

export interface Props {
  blog: CollectionEntry<'blog'>
  minutesRead: string
}

const { title, author, date, categories } = Astro.props.blog.data
---

<section>
  <h1 class="text-2xl text-gray-900 sm:text-4xl">{title}</h1>
  <p class="mt-2 text-gray-500">
    Written by <span class="font-medium text-gray-600">{author}</span> on <span
      class="font-medium text-gray-600">{serializeDate(date)}</span
    > · <span class="font-medium text-gray-600">{Astro.props.minutesRead}</span>
  </p>
  <div class="-mt-1 flex flex-wrap space-x-2 pt-3">
    {
      categories.map(category => (
        <span class="my-1 inline-flex items-center rounded-md bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800">
          {category}
        </span>
      ))
    }
  </div>
</section>
