---
import Adsense from './adsense.astro'
import Heading from './heading.astro'
import AppLayout from '../../../app/components/layout.astro'
import Image from '../../../core/components/image.astro'

export interface Props {
  frontmatter: {
    title: string
    subtitle: string
    date: string
    author: string
    categories: string[]
    banner: [string, number, number, string] // [url, width, height, placeholder]

    file: string
    url: string

    minutesRead: string
  }
}

const { banner, title, subtitle } = Astro.props.frontmatter
---

<AppLayout title={title} description={subtitle} image={banner[0]}>
  <div class="space-y-6">
    <div class="max-w-4xl mx-auto">
      <div class="bg-white shadow-xl rounded-2xl overflow-hidden">
        <Image
          src={banner[0]}
          width={banner[1]}
          height={banner[2]}
          placeholder={banner[3]}
          alt="cover"
          fetchPriority="high"
        />
        <div class="py-8 px-4 sm:px-6 lg:px-8">
          <Heading {...Astro.props.frontmatter} />

          <section class="flex justify-center py-4">
            <div>
              <Adsense
                client="ca-pub-2837414306121160"
                style={{
                  width: 300,
                  height: 250,
                  minHeight: '250px',
                }}
                slot="4010112179"
                format="fluid"
                layoutKey="-fb+5w+4e-db+86"
                class="block"
              />
            </div>
          </section>
          <article class="pt-6 prose prose-blue max-w-3xl mx-auto">
            <slot />
          </article>
          <section class="flex justify-center py-4">
            <div>
              <Adsense
                client="ca-pub-2837414306121160"
                style={{
                  width: 468,
                  height: 200,
                }}
                slot="5740521463"
                format="auto"
                responsive="true"
                class="block"
              />
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2837414306121160"
    crossorigin="anonymous"
  ></script>
</AppLayout>
