---
import Heading from './heading.astro'
import AppLayout from '$app/components/layout.astro'
import Image from '$core/components/image.astro'

import type { CollectionEntry } from 'astro:content'

export interface Props {
  blog: CollectionEntry<'blog'>
  minutesRead: string
}

const { banner, title, subtitle } = Astro.props.blog.data
---

<AppLayout title={title} description={subtitle} image={banner.url}>
  <div class="space-y-6">
    <div class="mx-auto max-w-4xl">
      <div
        class="overflow-hidden rounded-none bg-white shadow-xl sm:rounded-2xl"
      >
        <Image
          src={banner.url}
          width={banner.width}
          height={banner.height}
          placeholder={banner.placeholder}
          alt="cover"
          fetchPriority="high"
        />
        <div class="py-8 px-4 sm:px-6 lg:px-8">
          <Heading {...Astro.props} />

          <article class="prose prose-blue mx-auto max-w-3xl pt-6">
            <slot />
          </article>
        </div>
      </div>
    </div>
  </div>
</AppLayout>
