---
import Logo from './logo.astro'
import Footer from './footer.astro'

import { headerNavationItems } from '../constants/headerNavationItems'

import '$styles/tailwind.css'
import '$styles/font.css'

export interface Props {
  title?: string
  description?: string
  image?: string
}

const {
  title = '',
  description = 'The Nerdy Blogger',
  image = 'https://blog.rayriffy.com/default.jpg',
} = Astro.props

const transformedTitle = title === '' ? 'Riffy Blog' : `Riffy Blog · ${title}`
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Niramit:wght@400;500;700&display=swap" rel="stylesheet" media="screen"> -->

    <title>{transformedTitle}</title>

    <meta name="title" content={transformedTitle} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={transformedTitle} />
    <meta property="og:description" content={description} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={transformedTitle} />
    <meta property="twitter:description" content={description} />

    <meta property="og:image" content={image} />
    <meta property="twitter:image" content={image} />
  </head>
  <body>
    <div class="py-12 space-y-8">
      <header class="max-w-md mx-auto">
        <div class="flex justify-center">
          <a href="/" aria-label="Logo" rel="prefetch">
            <Logo className="w-16 md:w-20" />
          </a>
        </div>
        <div
          class="flex justify-center space-x-6 pt-4 text-gray-900 hover:text-gray-700 uppercase text-sm select-none"
        >
          {
            headerNavationItems.map(item =>
              item.disabled ? (
                <span class="cursor-not-allowed">{item.name}</span>
              ) : item.external ? (
                <a href={item.href} target="_blank" rel="noopener noreferrer">
                  {item.name}
                </a>
              ) : (
                <a href={item.href} rel="prefetch">
                  {item.name}
                </a>
              )
            )
          }
        </div>
      </header>
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
