---
import dayjs from 'dayjs'
import { serializeDate } from '../core/services/serializeDate'

import AppLayout from '../app/components/layout.astro'
import Image from '../core/components/image.astro'
import Pagination from '../modules/listing/components/pagination.astro'

import type { GetStaticPaths, Page } from 'astro'
import { CollectionEntry, getCollection } from 'astro:content'

export interface Props {
  page: Page<CollectionEntry<'blog'>>
  featuredBlogPost: CollectionEntry<'blog'> | null
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const blogPosts = await getCollection('blog')
  const sortedBlogPosts = blogPosts.sort(
    (a, b) => dayjs(b.data.date).unix() - dayjs(a.data.date).unix()
  )

  const pages = paginate(sortedBlogPosts, {
    pageSize: 6,
  })

  return pages.map((page, i) => ({
    ...page,
    props: {
      ...page.props,
      featuredBlogPost:
        i !== 0
          ? null
          : sortedBlogPosts.find(o => o.data.featured === true) ?? null,
    },
    params: {
      page: i === 0 ? undefined : `pages/${i + 1}`,
    },
  }))
}

const { page, featuredBlogPost } = Astro.props
---

<AppLayout>
  <div class="max-w-7xl mx-auto space-y-6 sm:px-6 lg:px-8">
    {
      featuredBlogPost !== null && (
        <div class="max-w-4xl mx-auto">
          <a href={featuredBlogPost.slug} rel="prefetch">
            <div class="rounded-none sm:rounded-2xl overflow-hidden relative">
              <div class="absolute top-0 bottom-0 left-0 right-0 p-6 md:p-8 bg-black-overlay z-10 flex items-end">
                <div class="space-y-0.5 md:space-y-2 text-white">
                  <span class="uppercase text-base md:text-lg">Featured</span>
                  <h1 class="text-xl md:text-4xl">
                    {featuredBlogPost.data.title}
                  </h1>
                  <p class="text-sm md:text-xl">
                    {featuredBlogPost.data.subtitle}
                  </p>
                </div>
              </div>
              <div>
                <Image
                  src={featuredBlogPost.data.banner.url}
                  width={featuredBlogPost.data.banner.width}
                  height={featuredBlogPost.data.banner.height}
                  placeholder={featuredBlogPost.data.banner.placeholder}
                  alt={featuredBlogPost.data.title}
                  fetchPriority="high"
                />
              </div>
            </div>
          </a>
        </div>
      )
    }
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 items-center">
      {
        page.data.map(({ data, slug }, i) => (
          <a href={`/${slug}`} rel="prefetch">
            <div class="rounded-none sm:rounded-2xl overflow-hidden shadow-lg bg-white relative">
              {data.draft && (
                <span class="absolute text-white bg-black py-1.5 px-3 z-10 text-sm font-bold italic rounded-br-2xl">
                  DRAFT
                </span>
              )}
              <Image
                alt={data.title}
                src={data.banner.url}
                width={data.banner.width}
                height={data.banner.height}
                placeholder={data.banner.placeholder}
                loading={i === 0 ? null : 'lazy'}
                fetchPriority="low"
              />
              <div class="p-4 sm:p-6">
                <h1 class="text-2xl text-gray-900">{data.title}</h1>
                <p class="text-gray-600 pt-1">
                  Written by{' '}
                  <span class="font-medium text-gray-800">{data.author}</span>{' '}
                  on{' '}
                  <span class="font-medium text-gray-800">
                    {serializeDate(data.date)}
                  </span>
                </p>
                <p class="text-gray-600 py-2">{data.subtitle}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>
    <div class="pt-6">
      <Pagination current={page.currentPage} max={page.total} />
    </div>
  </div>
</AppLayout>
